@font-face { font-family: Overlock; src: url('../fonts/Overlock-Regular.ttf'); }
@font-face { font-family: Overlock; src: url('../fonts/Overlock-Italic.ttf'); font-style: italic; }
@font-face { font-family: Overlock; src: url('../fonts/Overlock-Bold.ttf'); font-weight: bold; }
@font-face { font-family: Overlock; src: url('../fonts/Overlock-BoldItalic.ttf'); font-style: italic; font-weight: bold; }
@font-face { font-family: Overlock; src: url('../fonts/Overlock-Black.ttf'); font-weight: 900; }
@font-face { font-family: Overlock; src: url('../fonts/Overlock-BlackItalic.ttf'); font-weight: 900; font-style: italic; }

body {
    background: #222 url('../img/black_pattern02.jpg') repeat;
    color: #bbb;
    font-family: Overlock, Helvetica, Arial, Sans-Serif;
    text-align: center;
}

a, a:active, a:visited {
    color: #fff;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    font: 16px/24px Overlock;
    color: #bbb;
    text-shadow: -1px -1px 0 #000;
}

h1, h2, h3, h4 {
    margin-bottom: 0;
}

h1 {
    font: 900 30px Overlock;
    margin-top: 40px;
}

h2 {
    color: #DB601C;
    font: 26px Overlock;
    margin-top: 40px;
}

h2 small {
    color: #EADFAB;
    font: italic 14px Overlock;
}

h3 {
    color: #ADC54F;
    font: 20px Overlock;
    margin-top: 40px;
}

h3 small {
    color: #EADFAB;
    font: italic 14px Overlock;
}

h4 {
    color: #fff;
    font: 18px Overlock;
    margin-top: 40px;
}

h4 em {
    color: #ABD5EA;
}

h4 small {
    color: #EADFAB;
    font: italic 14px Overlock;
}

pre {
    background-color: #000000;
    border-radius: 3px 3px 3px 3px;
    overflow-x: auto;
    padding: 10px 15px;
}

code {
    
}

ul, ol {
    color: #bbb;
    text-shadow: -1px -1px 0 #000;
}

#wrapper {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 5px 5px;
    margin: 30px auto;
    padding: 20px 30px;
    text-align: left;
    width: 720px;
}

#logo {
    color: #fff;
    margin-bottom: 30px;
    margin-top: 0;
}

#menu {
    float: right;
    margin-top: 10px;
}

#menu li {
    display: inline;
}

#menu a {
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 3px;
    color: #ddd;
    display: inline-block;
    margin-left: 6px;
    padding: 2px 8px;
    text-decoration: none;
}

#menu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

#menu a.download {
    background-color: #90A445;
    color: #fff;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}

#menu .parent {
    position: relative;
}

#menu .submenu {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px 3px 3px 3px;
    display: none;
    left: 0;
    padding-left: 0;
    position: absolute;
    top: 25px;
}

#menu li:hover .submenu {
    display: block;
}

#menu .submenu li {
    display: block;
}

#menu .submenu a {
    margin: 4px 10px;
}

table {
    border-left: 1px solid #282828;
    border-top: 1px solid #282828;
    width: 100%;
}

table td, table th {
    border-bottom: 1px solid #282828;
    border-right: 1px solid #282828;
    color: #bbb;
    padding: 10px 15px;
    vertical-align: top;
}

table thead th {
    background-color: #1D1D1D;
    color: #FFFFFF;
}

/* revolver examples */
.revolver.container {
    box-shadow: 0 0 8px rgba(0,0,0,0.9);
    width: 720px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.revolver.stack .slide {
    left: 0;
    position: absolute;
    top: 0;
}

.revolver.inline .slide {
    margin: 0;
    padding: 0;
    position: static;
}

.revolver.reveal .slide {
    height: 300px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 720px;
}

.controls {
    line-height: 30px;
}

.controls a {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    color: #fff;
    padding: 2px 7px;
    text-decoration: none;
    text-shadow: 1px 1px 0 black;
}

.controls a:hover {
    background-color: #EADFAB;
    color: black;
    text-shadow: none;
}

.top {
    height: 1px;
    margin-top: 40px;
    position: relative;
}

.top hr {
    border-color: #333;
    border-style: none none dashed;
    border-width: 0 0 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 642px;
}

.top a {
    color: #777777;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
}

.hidden {
    display: none;
}